# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ronaz\Downloads\Study\HT21\2DV610 Software Testing\Assignment 2\MyWebServer-master\MyWebServer-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
